/anime_face/*
*.zip
GeneratedFigures/*
GeneratedFigures */*
GANModels/*
GANModels */*
animeface-character-dataset/*
WGeneratedFigures/*
WGeneratedFigures */*
WGANModels/*
**/__pycache__
**/_screenshots
**/.zip
StyleGAN3/stylegan3/training-runs/*
StyleGAN3/stylegan3/anime*
